#pp-edit-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #707070;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
}

#pp-edit-btn:hover{
    background-color: #DDD;
}

.svg-icon {
    width: 6px;
    height: 6px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: black;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }