.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items { 
    height: 340px;
    display: flex;
    flex-direction: column;
    overflow: scroll hidden;
    overflow-x: hidden;

    // CHECK LINE 18,19 with the actual styles code from cart-dropdown styles no 12
  }

  button {
    margin-top: auto;
  }
}
