.cart-dropdown {
  position: absolute;
  width: 240px;
  height: auto;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  font-family: "Poppins", sans-serif;

  .empty-message {
    font-size: 18px;
    text-align: center;
  }

  .cart-items {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #707070;
    overflow: scroll;
    overflow-x: hidden;
  }

  button {
    margin-top: auto;
  }
}
