.sign-up {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 60px;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 40px;
  max-height: 500px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: 20px;
  }

  h2 {
    font-weight: bold;
    font-size: 1.9em;
  }
}

.signup-form {
  margin: 20px 0;
}

.sign-up::-webkit-scrollbar {
  display: none;
}