.tile {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-height: 300px;
  flex: 33%;
  max-width: 300px;
  margin-bottom: 80px;
  // box-sizing: border-box;
  cursor: pointer;
  img {
    height: 100%;
    width: 100%;
    border: 2px solid #707070;
  }

  .tileName {
    border: 2px solid #707070;
    border-top: none;
    padding: 10px 10px;
    width: 93.4%;
  }
}
