.tile {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 300px;
  height: 300px;
  box-sizing: border-box;

  img{
    height: 100%;
    width: 100%;
  }

  .tileName{
    border: 2px solid #707070;
    padding: 10px 10px;
  }
}

