@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

.logo {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  color: #505050;
  font-weight: 900;
}
