.sideBar {
  width: 270px;
  height: 91vh;
  font-family: "Poppins", sans-serif;
  border-right: 3px solid #707070;
  clip-path: inset(0px -20px 0px 0px);
  position: fixed;
  left: 0;
  top: 9vh;
  transition: 0.3s ease;
  background-color: white;
  box-shadow: inset 0 20px 20px -20px #606060;
  box-sizing: border-box;
}

.invisible {
  transform: translate3d(-270px, 0, 0);
}

.visible {
  transform: translate3d(0px, 0, 0);
  box-shadow: 0px 0 20px #606060, inset 0 20px 20px -20px #606060;;
}

/* box-shadow: 0 0 20px rgba(0,0,0,0.75); */
