.containers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 91vh;
  font-family: "Poppins", sans-serif;
  color: #505050;
  width: 70%;
  position: relative;
  margin: 0 auto;
}
